<style lang="sass">

</style>

<template lang="jade">
  div
    simple-component

</template>

<script>

import SimpleComponent from './SimpleComponent.vue';

export default {
  components: {
    SimpleComponent
  }
}
</script>
